<div>
  <h1>Search Movie </h1>
<!--  <input type="submit" (click)="addTask()"-->
<!--         value="Add Task">-->
  <table>
    <tr>
      <th>ID</th>
      <th>Task Name</th>
      <th>Created</th>
      <th>Update Date</th>
      <th>Completd</th>
      <th colspan="2">Action</th>
    </tr>
<!--    <tr *ngFor="let task of tasks1">-->
<!--      <td>{{task.id}}</td>-->
<!--      <td>{{task.task}}</td>-->
<!--      <td>{{task.createdAt}}</td>-->
<!--      <td>{{task.updatedAt}}</td>-->
<!--      <td>{{task.completed}}</td>-->
<!--      <td>-->
<!--        <input type="button" (click)="deleteTask(task.id)"-->
<!--               value="Delete">-->
<!--      </td>-->
<!--      <td>-->
<!--        <input type="submit" (click)="editTask(task.id)"-->
<!--               value="Edit">-->
<!--      </td>-->
<!--    </tr>-->
  </table>
</div>


<div class="input-group">
  <input type="text" class="form-control" placeholder="Search this blog">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
       <div class="col-12">
         <div class="input-group">
           <div class="form-outline">
             <input id="search-focus" type="search" id="form1" class="form-control" />
             <label class="form-label" for="form1">Search</label>
           </div>
           <button type="button" class="btn btn-primary">
             <i class="fas fa-search"></i>
           </button>
         </div>
       </div>
  </div>
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

