<div>
  <div class="input-group">
    <input [(ngModel)]="searchMovie" #ctrlNMovie="ngModel" type="text" class="form-control" placeholder="Search this movie">
    <div class="input-group-append">
      <button (click)="search()" class="btn btn-secondary" type="button">
        <i class="fas fa-search"></i>
        Search
      </button>
    </div>
  </div>
  <br/>
  <table class="table" *ngIf="movieModel?.length > 0">
    <thead>
    <tr>
      <th *ngFor="let col of displayColumn | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" scope="col">{{col}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let colData of movieModel">
      <th scope="row">{{colData.imdbID}}</th>
      <td>{{colData.Title}}</td>
      <td>{{colData.Type}}</td>
      <td>{{colData.Year}}</td>
      <td>
        <div class="col-xs-3 col-sm-1">
          <img src='{{colData.Poster}}'
               alt="Profile Picture" class="img-responsive img-rounded"
               style="max-height: 50px; max-width: 50px;">
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center" *ngIf="movieModel?.length > 0">
    <pagination-controls
      responsive="true"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>

